/* src/pages/LandingPage.css */
.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  position: relative;
  color: white;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
  transition: color 3s ease;
}

.title-link {
  font-size: 4rem;
  font-weight: bold;
  color: #ff7a7a;
  text-align: center;
  margin: 0;
  text-decoration: none;
  transition: color 3s ease;
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 1rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  width: fit-content;
  animation: typing 3s steps(40, end), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from { width: 0; }
  to { width: 20%; }
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

.login-button {
  background: none;
  color: white;
  border: 2px solid white;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 2rem;
  transition: background 0.8s, color 0.5s;
}

.login-button:hover {
  background-color: white;
  color: black;
}

.signout-button {
  background: none;
  color: white;
  border: 2px solid white;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 2rem;
  transition: background 0.8s, color 0.5s;
}

.signout-button:hover {
  background-color: white;
  color: black;
}